body {
            margin: 0px;
        }
        
        #topbanner {
            position: relative;
            top: 0vw;
            width: 100vw;
            height: 50vh;
            background-image: url('img/TrapProban.png');
            background-size: cover;
            background-position: center;
        }
        
        #tag1 {
            position: absolute;
            top: 50%;
            left: 32vw;
            color: white;
            text-align: center;
            font-size: 5vw;
        }
        
        #profDiv {
            position: relative;
            width: 100vw;
            height: 50vh;
            background-color: red;
            background-position: center;
        }
        
        #profDiv1 {
            position: relative;
            width: 100vw;
            height: 25vh;
            background-color: darkred;
            background-position: center bottom;
        }
        
        #profpic {
            position: absolute;
            top: -12vh;
            left: 50vw;
            width: 12vw;
            height: 12vw;
            border-radius: 200px;
            border: 0.3vw solid red;
            background-color: black;
            background-image: url(img/TrapPro.png);
            background-position: center;
        }
        
        #name {
            position: absolute;
            top: 40%;
            left: 50vw;
            color: white;
            text-align: center;
            font-size: 3vw;
        }
        
        #pictext1 {
            position: absolute;
            top: 47%;
            left: 19vw;
            color: white;
            text-align: center;
            font-size: 1.5vw;
          }
        
        #pictext2 {            
            position: absolute;
            top: 47%;
            left: 32vw;
            color: white;
            text-align: center;
            font-size: 1.5vw;
         }
        
        #pictext3 {            
            position: absolute;
            top: 47%;
            left: 47vw;
            color: white;
            text-align: center;
            font-size: 1.5vw;
           }
          
        #pictext4 {            
            position: absolute;
            top: 47%;
            left: 60.5vw;
            color: white;
            text-align: center;
            font-size: 1.5vw;
          }
        
        #pictext5 {            
            position: absolute;
            top: 47%;
            left: 75vw;
            color: white;
            text-align: center;
            font-size: 1.5vw;
          }
        
        #pic1 {
            position: absolute;
            top: 60%;
            left: 15vw;
            background-color: black;
            border: 0.3vw solid white;
            width: 10vw;
            height: 10vw;
            background-image: url('img/cslogo.gif');
            background-repeat: no-repeat;
            background-position: center;
        }
        
        #pic2 {
            position: absolute;
            top: 60%;
            left: 29.2vw;
            background-color: black;
            border: 0.3vw solid white;
            width: 10vw;
            height: 10vw;
            background-image: url('img/twicon.png');
            background-position: center;
        }
        
        #pic3 {
            position: absolute;
            top: 60%;
            left: 43.5vw;
            background-color: black;
            border: 0.3vw solid white;
            width: 10vw;
            height: 10vw;
            background-image: url('img/doge.gif');
            background-position: center;
        }
        
        #pic4 {
            position: absolute;
            top: 60%;
            left: 57.8vw;
            background-color: black;
            border: 0.3vw solid white;
            width: 10vw;
            height: 10vw;
            background-image: url('img/steam.ico');
            background-position: center;
        }
        
        #pic5 {
            position: absolute;
            top: 60%;
            left: 72.4vw;
            background-color: black;
            border: 0.3vw solid white;
            width: 10vw;
            height: 10vw;
            background-image: url('img/400.jpg');
            background-position: center;
        }
        
        #bioDiv {
            position: relative;
            width: 100vw;
            height: 50vh;
            background-color: black;
            background-position: center;
        }
        
        #biopic {
            position: absolute;
            top: 3vw;
            left: 3vw;
            width: 30vw;
            height: auto;
            border: 0.3vw solid white;
            background-image: url('img/biopic.jpg');
            background-position: center;
        }
        
        #title {
            position: absolute;
            top: 2vw;
            left: 40vw;
            color: white;
            font-size: 3vw;
        }
        
        #biotext {
            position: absolute;
            width: 45vw;
            height: auto;
            top: 5vw;
            left: 40vw;;
            color: white;
            text-align: left;
            font-size: 1.7vw;
        }
                
        #botbanner {
            position: relative;;
            width: 100vw;
            height: 50vh;
            background-image: url('img/csgobanner.jpg');
            background-size: cover;
            background-position: bottom center;
        }
        
        #tag2   {        
            position: absolute;
            top: 5%;
            left: 55vw;
            color: white;
            text-align: center;
            font-size: 5vw;
        }

        .thumb5 {
            position: relative;
            display: inline-block;
            margin: 2vw;
            top: 0vw;
            left: 13vw;
            width: 10vw;
            height: 10vw;
            background-color: black;
            border: 0.3vw solid white;
        }
        
        @media (max-width: @screen-xs-max) {
            #topbanner {
                position: relative;
                top: 0vw;
                width: 100vw;
                height: 50vh;
                background-image: url('img/TrapProban.png');
                background-size: cover;
                background-position: center;
            }   
            
            #botbanner {
                position: relative;;
                width: 100vw;
                height: 50vh;
                background-image: url('img/csgobanner.jpg');
                background-size: cover;
                background-position: bottom center;
            }
            
            #profpic {
                position: absolute;
                top: -12vh;
                left: 50vw;
                width: 12vw;
                height: 12vw;
                border-radius: 200px;
                border: 0.3vw solid red;
                background-color: black;
                background-image: url(img/TrapPro.png);
                background-position: center;
            }
            
            #pic1 {
                position: absolute;
                top: 60%;
                left: 15vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/cslogo.gif');
                background-repeat: no-repeat;
                background-position: center;
            }
        
            #pic2 {
                position: absolute;
                top: 60%;
                left: 29.2vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/twicon.png');
                background-position: center;
            }

            #pic3 {
                position: absolute;
                top: 60%;
                left: 43.5vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/doge.gif');
                background-position: center;
            }

            #pic4 {
                position: absolute;
                top: 60%;
                left: 57.8vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/steam.ico');
                background-position: center;
            }

            #pic5 {
                position: absolute;
                top: 60%;
                left: 72.4vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/400.jpg');
                background-position: center;
            }
            
            #biopic {
                background-image: url(img/biopic.jpg);
            }
            
            #pictext1 {
                position: absolute;
                top: 47%;
                left: 19vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext2 {            
                position: absolute;
                top: 47%;
                left: 32vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext3 {            
                position: absolute;
                top: 47%;
                left: 47vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
          
            #pictext4 {            
                position: absolute;
                top: 47%;
                left: 60.5vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext5 {            
                position: absolute;
                top: 47%;
                left: 75vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
            
            #tag1 {
                position: absolute;
                top: 13vw;
                left: 30vw;
                color: white;
                text-align: center;
                font-size: 5vw;
            }
            
            #tag2 {        
                position: absolute;
                top: 5%;
                left: 55vw;
                color: white;
                text-align: center;
                font-size: 80px;
            }
            
            #name {
                position: absolute;
                top: 40%;
                left: 50vw;
                color: white;
                text-align: center;
                font-size: 3vw;
            }
            
            #title {
                position: absolute;
                top: 2vw;
                left: 40vw;
                color: white;
                font-size: 40px;
            }
        
            #biotext {
                position: absolute;
                width: 45vw;
                height: auto;
                top: 5vw;
                left: 40vw;;
                color: white;
                text-align: left;
                font-size: 30px;
            }
        }
        
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            #topbanner {
                position: relative;
                top: 0vw;
                width: 100vw;
                height: 50vh;
                background-image: url('img/TrapProban.png');
                background-size: cover;
                background-position: center;
            }   
            
            #botbanner {
                position: relative;;
                width: 100vw;
                height: 50vh;
                background-image: url('img/csgobanner.jpg');
                background-size: cover;
                background-position: bottom center;
            }
            
            #profpic {
                position: absolute;
                top: -12vh;
                left: 50vw;
                width: 12vw;
                height: 12vw;
                border-radius: 200px;
                border: 0.3vw solid red;
                background-color: black;
                background-image: url(img/TrapPro.png);
                background-position: center;
            }
            
            #pic1 {
                position: absolute;
                top: 60%;
                left: 15vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/cslogo.gif');
                background-repeat: no-repeat;
                background-position: center;
            }
        
            #pic2 {
                position: absolute;
                top: 60%;
                left: 29.2vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/twicon.png');
                background-position: center;
            }

            #pic3 {
                position: absolute;
                top: 60%;
                left: 43.5vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/doge.gif');
                background-position: center;
            }

            #pic4 {
                position: absolute;
                top: 60%;
                left: 57.8vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/steam.ico');
                background-position: center;
            }

            #pic5 {
                position: absolute;
                top: 60%;
                left: 72.4vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/400.jpg');
                background-position: center;
            }
            
            #biopic {
                background-image: url(img/biopic.jpg);
            }
            
            #tag1 {
                position: absolute;
                top: 13vw;
                left: 30vw;
                color: white;
                text-align: center;
                font-size: 5vw;
            }
            
            #tag2 {        
                position: absolute;
                top: 5%;
                left: 55vw;
                color: white;
                text-align: center;
                font-size: 80px;
            }
            
            #name {
                position: absolute;
                top: 40%;
                left: 50vw;
                color: white;
                text-align: center;
                font-size: 3vw;
            }
            
            #pictext1 {
                position: absolute;
                top: 47%;
                left: 19vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext2 {            
                position: absolute;
                top: 47%;
                left: 32vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext3 {            
                position: absolute;
                top: 47%;
                left: 47vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
          
            #pictext4 {            
                position: absolute;
                top: 47%;
                left: 60.5vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext5 {            
                position: absolute;
                top: 47%;
                left: 75vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
            
            #title {
                position: absolute;
                top: 2vw;
                left: 40vw;
                color: white;
                font-size: 40px;
            }
        
            #biotext {
                position: absolute;
                width: 45vw;
                height: auto;
                top: 5vw;
                left: 40vw;;
                color: white;
                text-align: left;
                font-size: 30px;
            }
        }
        
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            #topbanner {
                position: relative;
                top: 0vw;
                width: 100vw;
                height: 50vh;
                background-image: url('img/TrapProban.png');
                background-size: cover;
                background-position: center;
            }   
            
            #botbanner {
                position: relative;;
                width: 100vw;
                height: 50vh;
                background-image: url('img/csgobanner.jpg');
                background-size: cover;
                background-position: bottom center;
            }
            
            #profpic {
                position: absolute;
                top: -12vh;
                left: 50vw;
                width: 12vw;
                height: 12vw;
                border-radius: 200px;
                border: 0.3vw solid red;
                background-color: black;
                background-image: url(img/TrapPro.png);
                background-position: center;
            }
        
            #pic1 {
                position: absolute;
                top: 60%;
                left: 15vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/cslogo.gif');
                background-repeat: no-repeat;
                background-position: center;
            }
        
            #pic2 {
                position: absolute;
                top: 60%;
                left: 29.2vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/twicon.png');
                background-position: center;
            }

            #pic3 {
                position: absolute;
                top: 60%;
                left: 43.5vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/doge.gif');
                background-position: center;
            }

            #pic4 {
                position: absolute;
                top: 60%;
                left: 57.8vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/steam.ico');
                background-position: center;
            }

            #pic5 {
                position: absolute;
                top: 60%;
                left: 72.4vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/400.jpg');
                background-position: center;
            }
            
            #biopic {
                background-image: url(img/biopic.jpg);
            }
            
            #pictext1 {
                position: absolute;
                top: 47%;
                left: 19vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext2 {            
                position: absolute;
                top: 47%;
                left: 32vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext3 {            
                position: absolute;
                top: 47%;
                left: 47vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
          
            #pictext4 {            
                position: absolute;
                top: 47%;
                left: 60.5vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext5 {            
                position: absolute;
                top: 47%;
                left: 75vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
            
            #tag1 {
                position: absolute;
                top: 13vw;
                left: 30vw;
                color: white;
                text-align: center;
                font-size: 5vw;
            }
            
            #tag2 {        
                position: absolute;
                top: 5%;
                left: 55vw;
                color: white;
                text-align: center;
                font-size: 80px;
            }
            
            #name {
                position: absolute;
                top: 40%;
                left: 50vw;
                color: white;
                text-align: center;
                font-size: 3vw;
            }
            
           #title {
                position: absolute;
                top: 2vw;
                left: 40vw;
                color: white;
                font-size: 40px;
            }
        
            #biotext {
                position: absolute;
                width: 45vw;
                height: auto;
                top: 5vw;
                left: 40vw;;
                color: white;
                text-align: left;
                font-size: 30px;
            }
        }
        
        @media (min-width: @screen-lg-min) {
            #topbanner {
                position: relative;
                top: 0vw;
                width: 100vw;
                height: 50vh;
                background-image: url('img/TrapProban.png');
                background-size: cover;
                background-position: center;
            }   
            
            #botbanner {
                position: relative;;
                width: 100vw;
                height: 50vh;
                background-image: url('img/csgobanner.jpg');
                background-size: cover;
                background-position: bottom center;
            }
            
            #profpic {
                position: absolute;
                top: -12vh;
                left: 50vw;
                width: 12vw;
                height: 12vw;
                border-radius: 200px;
                border: 0.3vw solid red;
                background-color: black;
                background-image: url(img/TrapPro.png);
                background-position: center;
            }
      
            #pic1 {
                position: absolute;
                top: 60%;
                left: 15vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/cslogo.gif');
                background-repeat: no-repeat;
                background-position: center;
            }
        
            #pic2 {
                position: absolute;
                top: 60%;
                left: 29.2vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/twicon.png');
                background-position: center;
            }

            #pic3 {
                position: absolute;
                top: 60%;
                left: 43.5vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/doge.gif');
                background-position: center;
            }

            #pic4 {
                position: absolute;
                top: 60%;
                left: 57.8vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/steam.ico');
                background-position: center;
            }

            #pic5 {
                position: absolute;
                top: 60%;
                left: 72.4vw;
                background-color: black;
                border: 0.3vw solid white;
                width: 10vw;
                height: 10vw;
                background-image: url('img/400.jpg');
                background-position: center;
            }
            
            #biopic {
                background-image: url(img/biopic.jpg);
            }
            
            #pictext1 {
                position: absolute;
                top: 15%;
                left: 19vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext2 {            
                position: absolute;
                top: 47%;
                left: 32vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext3 {            
                position: absolute;
                top: 47%;
                left: 47vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
          
            #pictext4 {            
                position: absolute;
                top: 47%;
                left: 60.5vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
        
            #pictext5 {            
                position: absolute;
                top: 47%;
                left: 75vw;
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
            
            #tag1 {
                position: absolute;
                top: 13vw;
                left: 30vw;
                color: white;
                text-align: center;
                font-size: 5vw;
            }
            
            #tag2 {        
                position: absolute;
                top: 5%;
                left: 55vw;
                color: white;
                text-align: center;
                font-size: 80px;
            }
            
            #name {
                position: absolute;
                top: 40%;
                left: 50vw;
                color: white;
                text-align: center;
                font-size: 3vw;
            }
            
            #title {
                position: absolute;
                top: 2vw;
                left: 40vw;
                color: white;
                font-size: 40px;
            }
        
            #biotext {
                position: absolute;
                width: 45vw;
                height: auto;
                top: 5vw;
                left: 40vw;;
                color: white;
                text-align: left;
                font-size: 30px;
            }
        }